@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');


// font-family: Raleway
// font-family: Dm sans


//variables Globales
//operadores - inicio
$ancho: 720px;
$alto: 100px;
$alto2: 500px;
//fonts
$font1: 'Raleway', serif;
$font2: 'DM Sans', sans-serif;
$bold1:700;
$bold2: 500;
// paleta colores
$color1:#C3C4C6;
$color2:#192947;
$color3:#CFF0FC;
$color4:#2295D3;
$color5:#2A3F92;
$color6:#ffffff;
$color7:rgb(44, 44, 44);
//dimensiones
$size1: 100%;
$size2: 50%;
$size3: 20px;
$size4: 50px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


.navbar {
    background-color: $color5;
    font-family: $font1;
    font-size: calc($size3 - 2px);
    display: flex;
    justify-content: space-between; /* Logo al inicio e ícono al final */
    align-items: center;
    padding: 0 1rem; /* Ajusta según tu diseño */
}

.navbar-brand {
    img {
        margin-left: 100px;
    }
}

.navbar-toggler {
    margin-left: auto;
    justify-content: end;
}

.nav-list {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 0;
    margin: 0;

    .nav-item {
        display: flex; /* Asegura que el contenido y el separador estén en la misma línea */
        align-items: center;
        padding: 0 1rem; /* Espaciado horizontal entre los elementos */

        /* Agregar un palito separador */
        &::after {
            content: "|"; /* El separador */
            margin-left: 1rem; /* Espaciado a la izquierda del separador */
            color: $color6; /* Cambia por el color deseado */
        }

        /* Elimina el palito del último elemento */
        &:last-child::after {
            content: none;
        }
    }
}

@media (min-width: 768px) {
    .nav-list {
        .nav-item::after {
            content: "|";
        }
    }
}


.nav-link {
    color: $color6 !important;
}

.nav-link:hover {
    color: $color1 !important;
}

/* Personalizaciones para Mobile */
@media (max-width: 768px) {
    .nav-list {
        align-items: end;
        flex-direction: column; /* Cambiar a vertical */
        .nav-item::after {
            content: none; /* Elimina el separador */
        }
    }

    .navbar {
        justify-content: space-between;
        align-items: center;

        .navbar-brand {
            img {
                width: auto; /* Tamaño adaptable si es necesario */
                margin-left: 0%;
                max-height: 180px;
                max-width: 250px;
            }
        }
        .navbar-toggler {
            align-self: center;
        }
    }
}

//** index **//

.hero-section {
    background-size: cover;
    padding: 100px 0;
}
.card-product {
    transition: transform 0.3s ease;
}
.card-product:hover {
    transform: scale(1.05);
}

.ver-novedades{
    background-color: $color5 !important;
    border-color: $color6;
}

.ver-novedades:hover{
    background-color: $color1 !important;
    color: $color5 !important;
}

.display-4-index{
    font-family: $font1;
    font-size: $size4;
}

.lead-index{
    font-family: $font1;
    font-size: $size3;
}

//** index **// //** Sección de la Marca//** 

.highlight {
    color: $color5;
}

#sobre-nosotros{
        font-family: $font1;
}

#sobre-nosotros{
    p{
        font-size: calc($size3 - 2px);
    }
}

//** index **// //** Beneficios //** 

.beneficios{
    h4{
        font-family: $font1;
    }
}

.beneficios{
    p{
        font-family: $font2;
    }
}

//** index **// //** Novedades //** 

#productos-novedad {
    margin: 0;
    padding: 0;

    h3 {
        font-family: $font1;
        font-size: calc(#{$size4} - 9px);
        font-style: $bold1;
    }

    p {
        font-family: $font2;
        font-size: $size3;
    }

    /* Punto de corte para tablets y dispositivos medianos */
    @media (max-width: 768px) {
        h3 {
            font-size: 1.4rem; /* Ajusta el tamaño para tablets */
        }
        p {
            font-size: 1rem; /* Ajusta el tamaño para tablets */
        }
    }

    /* Punto de corte específico para dispositivos móviles pequeños */
    @media (max-width: 390px) {
        h3 {
            font-size: 1.2rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
}

.carousel-novedades .carousel-item {
    position: relative;
}

.carousel-novedades .carousel-item .container {
    position: relative;
    z-index: 2;
}

.animate-zoom {
    animation: zoomIn 3s infinite alternate;
}
@keyframes zoomIn {
    0% {
        transform: scale(1);
        }
        50% {
        transform: scale(1.3);
        }
        100% {
        transform: scale(1);
        }
}
.section-separator {
    height: 5px;
    background-color: $color5;
    margin: 0;
    padding: 0;
}


.ver-producto{
    background-color: $color5 !important;
    border-color: $color6;
    margin-bottom: 10px;
}

.ver-producto:hover{
    background-color: $color1 !important;
    color: $color5 !important;
}


//** index **// //** productos **//
.efecto-latido {
    /* Animación de latido suave */
    animation: latido 2s infinite;
    transition: box-shadow 0.3s ease-in-out;
}


/* Definición de la animación de latido */
@keyframes latido {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}



//** Productos **//

//** Productos **// Portada
   /* Estilo para el zoom in suave en la imagen */
@keyframes zoomEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.zoom-image-productos {
    animation: zoomEffect 5s ease-in-out infinite; /* Animación continua de 5 segundos */
}


/* En versiones móviles, ajustamos el layout */
@media (max-width: 767px) {
    .hero-section-productos {
        background-image: none; /* Elimina cualquier imagen de fondo en móviles */
        padding: 20px; /* Añade un margen interno */
    }
    

    .hero-section-productos .row {
        flex-direction: column-reverse; /* Cambia el orden de los elementos */
        align-items: center; /* Centra los elementos */
        text-align: center; /* Asegura que el texto esté centrado en móviles */
    }

    /* Estilo para el texto */
    .text-start-productos {
        margin-bottom: 20px; /* Añade espacio entre el texto y la imagen */
    }

    /* Imagen lateral ajustada */
    .zoom-image-productos {
        width: 100%; /* Asegura que ocupe todo el ancho disponible */
        height: auto; /* Mantiene las proporciones originales */
        object-fit: contain; /* Evita que la imagen se deforme */
    }
    
    /* Contenedor de la imagen */
    .hero-section-productos .col-md-6:last-child {
        padding: 0; /* Elimina relleno adicional */
        width: 100%; /* Asegura que ocupe el ancho completo */
    }
}



// Productos - Categorías
.display-4-productos {
    font-family: $font1;
    color: $color5;
    text-align: left;
}

.lead-productos {
    font-family: $font1;
    color: $color5;
    text-align: left;
}

.fw-bold-productos {
    font-family: $font1;
    text-decoration: none;
    color: $color5;
}

.row a {
    text-decoration: none;
    color: inherit;
}

.divider-1 {
    background-color: $color4;
}

.divider-2 {
    background-color: $color4;
}

.divider-3 {
    background-color: $color4;
}

// Efecto hover para las imágenes
.division-icon {
    position: relative;
    border-radius: 50%;
    // border-radius: 12px; // Borde redondeado
    transition: all 0.3s ease-in-out; // Suaviza el efecto de hover
    overflow: hidden; // Asegura que los bordes redondeados funcionen correctamente
    transform: scale(1); // Tamaño inicial

    img {
        border-radius: 50%;
        // border-radius: 12px; // Aplica los mismos bordes redondeados a la imagen
        width: 100%; // Ajusta al contenedor
        height: auto; // Mantiene proporción
    }

    &:hover {
        box-shadow: 0 8px 20px rgba(0, 183, 255, 0.6); // Sombra azul celeste
        transform: scale(1.03); // Agranda el contenedor un 10%
        border: 2px solid $color4(0, 183, 255, 0.8); // Borde azul claro
    }
}



//** Productos **// Carrusel

#productosCarousel h5 {
    color: $color5;
}

#productosCarousel p {
    color: $color5;
}

#productosCarousel .carousel-item {
    padding: 1.5rem;
}

#productosCarousel .carousel-item img {
    max-height: 200px;
    margin-bottom: 1rem;
}

.bg-gray-carrusel {
    background-image: url('../multimedia/fondo.CarruselProductos.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 40px; // Ajuste adicional para evitar el solapamiento con el footer
    overflow: hidden;
}

#productosCarousel .carousel-inner-productos {
    background-color: transparent;
}

#productosCarousel .carousel-control-prev-icon,
#productosCarousel .carousel-control-next-icon {
    background-color: $color5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#productosCarousel .carousel-control-prev-icon::after,
#productosCarousel .carousel-control-next-icon::after {
    color: white;
    font-size: 10px;
}

.carousel-inner-productos .row {
    margin: 0; /* Elimina márgenes laterales que puedan causar desbordamiento */
    justify-content: center; /* Asegura que los productos estén centrados */
}

.logo {
    width: 60%;
}

@media (max-width: 768px) {
    .carousel-inner-productos .row .col-6 {
        max-width: 50%; /* Cada producto ocupa el 50% del ancho */
        flex: 0 0 50%; /* Asegura que se mantengan dos productos por fila */
    }
}

#carouselItems:hover {
    transform: scale(1.1); /* Zoom estático al hacer hover */
}


//** Detalle de Productos **// Carrusel
/* Animación de zoom para la imagen */
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.product-zoom {
    animation: heartbeat 1.5s infinite;
    transition: transform 0.3s ease; /* Para suavizar cuando se detiene el hover */
}

.product-zoom:hover {
    animation: none; /* Opcional: detiene la animación continua al hacer hover */
    transform: scale(1.1); /* Zoom estático al hacer hover */
}


.product-info1 {
    display: flex;
    flex-direction: column; /* Cambia a diseño vertical */
    align-items: center; /* Centra los elementos horizontalmente */
}

#productTitleImg {
    margin: 0 0 10px 0; /* Agrega un margen inferior para separar del producto */
    width: 20%; /* Controla el ancho */
}

#productImage {
    margin: 0;
    width: 50%; /* Controla el ancho */
}

button.btn-secondary {
    display: block;
    margin: 0 auto 10px; /* Centra el botón y ajusta el margen inferior */
}


.product-info {
    #textabovetable {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-family: $font1;
    }
    
    #textabovetable2 {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        font-family: $font1;
    }
    
    #table-title-product {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        font-family: $font1;
    }
    
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1.5rem;

        th, td {
            border: 1px solid $color7;
            padding: 0.8rem;
            text-align: left;
        }
        
        th {
            background-color: #f9f9f9;
        }
    }
    
    
    .blue-line {
        height: 1px;
        background-color: $color5; // Línea azul sólida
        margin: 1.5rem 0;
    }
    
    #textbelowtable {
        font-size: 0.85rem;
        margin-bottom: 1rem;
        font-family: $font2;
    }
    
    #clarified-text {
        font-size: 0.75rem;
        color: $color5;
        margin-bottom: 1.5rem;
        font-family: $font2;
    }
}

.product-detail{
    background: linear-gradient(180deg,rgb(255, 254, 254) 0%,$color1 100%);
    margin-top: 0;
    padding-bottom: 50px; /* separa del footer */
    padding-top: 0;    
}



/* Botón de prospecto */
.prospecto-btn {
    background-color: $color5;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.prospecto-btn:hover {
    background-color: white;
    color: $color5;
    border: 2px solid $color5;
}

/* Botón de comprar (ahora de volver)*/
.buy-btn {
    background-color: $color5;
    color: white !important;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buy-btn:hover {
    background-color: white;
    color: $color5 !important;
    border: 2px solid $color5;
}

//** Nosotros **//

.card-nosotros{
    padding: $size3;
    h2{
        font-family: $font1;
        color: $color7;
    }
}

.card-nosotros{
    p{
        font-family: $font2;
        color: $color7;
    }
}

.card-nosotros{
    h4{
        font-family: $font2;
        color: $color7;
    }
}

.card-body-nosotros{
    background-color: $color1;
    background: linear-gradient(180deg,rgb(255, 254, 254) 0%,$color1 100%),
}


// Contacto 
   /* Estilo para el zoom in suave en la imagen */
   @keyframes zoomEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.025);
    }
    100% {
        transform: scale(1);
    }
}

.zoom-image-contacto {
    animation: zoomEffect 10s ease-in-out infinite; /* Animación continua de 5 segundos */
}



.display-4-contacto {
    font-family: $font1;
    color: $color5;
    text-align: left;
}

.lead-contacto {
    font-family: $font1;
    color: $color5;
    text-align: left;
}

.maps {
    font-family: $font1;
}

.mapsfondo {
    background: linear-gradient(180deg,rgb(255, 254, 254) 0%,$color1 100%),
}
.cierre-contacto {
    font-family: $font1;
    h2 {
        margin-bottom: 20px;
    }
}

//** Cierre página **//

footer{
    background-color: $color5;
    color: $color4;
    text-align: left;
    padding: $size3;
    font-family: $font1;
    .footer-links {
        list-style: none; // Elimina los puntos de la lista
        padding: 0; // Elimina el padding por defecto
        margin: 0;
        li {
            margin-bottom: 0; // Espaciado entre los elementos
            a {
                text-decoration: none;
                color: $color4;
                font-size: calc($size3 - 3px);
                font-family: $font1;

                &:hover {
                    color: $color3; // Color al pasar el mouse
                }
            }
        }
    }
}


.cierre{
    text-align: left;
}


.logo-footer{
    padding: $size3;
}

.subir{
    width: calc($size4 - 10px);
    height: calc($size4 - 10px);
    background-color: $color1;
    text-decoration: none;
    color: $color5;
    position: fixed;
    bottom: calc($size4 - 10px);
    right: calc($size4 - 10px);
    text-align: center;
    line-height: calc($size4 - 10px);
    font-size: $size3;
        :hover{
        color: $color1;
        background-color: $color5;
        }
}


